*{
padding: 0%;
margin: 0%;
}
.initial{
    height: 100vh;
    border: 1px solid black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.nav-bar{
    display: flex;
    gap: 20rem;
    border: 1px solid black;

}
.meni{
    display: flex;
    gap: 5rem;
    align-items: center;
    border: 1px solid black;

}
.login-bar{
    display: flex;
    gap: 1rem;
    border: 1px solid black;
}
.button a{
    text-decoration: none;
    

}
.logiin{
    height: 100vh;
}